@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* _________________________ */
/* Custom properties         */
/* _________________________ */
:root {
	/* font sizes */
	--fs-900: 1.625rem;
	--fs-800: clamp(16px, 4vw, 26px);
	--fs-700: clamp(16px, 3vw, 22px);
	--fs-600: clamp(13px, 3vw, 18px);
	--fs-500: clamp(14px, 2vw, 16px);
	--fs-400: clamp(11px, 2vw, 13px);

	/* font weight */
	--fw-400: 400;
	--fw-700: 700;

	/* font-families */

	--ff-space-mono: 'Space Mono', monospace;
}

/* light mode */
body {
	--red: 0, 92%, 62%;
	--blue: 212, 100%, 50%;
	--theme: 217, 35%, 45%;
	--light-blue: 212, 100%, 69%;
	--text-primary: 217, 21%, 21%;
	--text-secondary: 217, 20%, 51%;
	--bg-primary: 227, 100%, 98%;
	--bg-secondary: 0, 0%, 100%;
}
/* dark mode */
body.dark {
	--text-primary: 0, 0%, 100%;
	--text-secondary: 0, 0%, 100%, 0.75;
	--bg-secondary: 222, 41%, 20%;
	--bg-primary: 220, 40%, 13%;
	--theme: 0, 0%, 100%;
}

/* _________________________ */
/* Reset                     */
/* _________________________ */

/* Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
picture {
	margin: 0;
}

/* Reset link underline */
a {
	text-decoration: none;
}

/* set up the body */
body {
	line-height: 1.5;
	min-height: 100vh;
	font-family: var(--ff-space-mono);
	font-weight: var(--fw-400);
}

/* make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* make forms easier to work with */
input,
button,
textarea,
select {
	font: inherit;
}

/* remove animations for people whoever turned them off */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* _________________________ */
/* Utility classes           */
/* _________________________ */

/* general */
.flex {
	display: flex;
	gap: var(--gap, 1rem);
}
.flex--column {
	flex-direction: column;
}
.grid {
	display: grid;
	gap: var(--gap, 1rem);
}
.block {
	display: block;
}
.flow > *:where(:not(:last-child)) {
	margin-bottom: var(--flow-space, 1.5rem);
}
.container {
	margin: 0 auto;
}
.container-grid {
	display: grid;
	grid-template-columns: minmax(2rem, 1fr) minmax(0, 40rem) minmax(0, 40rem) minmax(
			2rem,
			1fr
		);
	column-gap: var(--container-gap, 2rem);
}

.container-grid > *:first-child {
	grid-column: 2;
}
.container-grid > *:last-child {
	grid-column: 3;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}
.box {
	background: lightblue;
	padding: 3rem;
}
.isDisabled {
	cursor: not-allowed;
	opacity: 0.5;
}

/* colors */
.bg-primary {
	background-color: hsl(var(--bg-primary));
}
.bg-secondary {
	background-color: hsl(var(--bg-secondary));
}
.text-primary {
	color: hsl(var(--text-primary));
}
.text-secondary {
	color: hsl(var(--text-secondary));
}

/* typography */
.ff-space-mono {
	font-family: var(--ff-space-mono);
}

.fw-400 {
	font-weight: 400;
}
.fw-700 {
	font-weight: 700;
}
.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: var(--fs-900);
	line-height: 1.5;
}
.fs-800 {
	font-size: var(--fs-800);
	line-height: 1.5;
}
.fs-700 {
	font-size: var(--fs-700);
	line-height: 1.5;
}
.fs-600 {
	font-size: var(--fs-600);
	line-height: 1.5;
}
.fs-500 {
	font-size: var(--fs-500);
	line-height: 1.5;
}
.fs-400 {
	font-size: var(--fs-400);
	line-height: 1.5;
}

/* _________________________ */
/* Components                */
/* _________________________ */

body {
	display: flex;
	background-color: hsl(var(--bg-primary));
	align-items: center;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;
}

.container {
	width: clamp(327px, 75vw, 730px);
	margin-top: clamp(31px, calc(50vw - 344px), 144px);
}

.theme {
	font-size: 13px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: 700;
	letter-spacing: 2.5px;
	color: hsl(var(--theme));
	cursor: pointer;
}

.search-bar {
	margin-bottom: clamp(16px, 3vw, 24px);
	position: relative;
	border-radius: 15px;
	background-color: hsl(var(--bg-secondary));
	overflow: hidden;
	display: flex;
	align-items: center;
	box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.search-bar img {
	position: absolute;
	left: clamp(1rem, 4vw, 2rem);
}

.search-bar input {
	width: 100%;
	height: clamp(60px, 9vw, 69px);

	border: none;
	background-color: hsl(var(--bg-secondary));
	color: hsl(var(--text-primary));
	text-indent: clamp(40px, 10vw, 80px);
	font-size: var(--fs-600);
}

.search-bar input:focus {
	outline: none;
}

.btn {
	position: absolute;
	background-color: hsl(var(--blue));
	border: none;
	color: #fff;
	border-radius: 10px;
	font-size: var(--fs-500);
	padding: 12.5px clamp(18px, 3vw, 24px);
	right: clamp(7px, 1.3vw, 10px);
	cursor: pointer;
}
.btn:hover {
	background-color: hsl(var(--light-blue));
}

.card {
	background-color: hsl(var(--bg-secondary));
	box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
	border-radius: 15px;
	overflow: hidden;
	padding: clamp(2rem, 5vw, 3rem);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card__header {
	display: grid;
	grid-template-columns: clamp(90px, 20vw, 157px) auto auto;
	grid-template-rows: auto auto auto auto;
	margin-bottom: clamp(23px, 4vw, 32px);
}

.avatar {
	width: clamp(70px, 15vw, 117px);
	height: clamp(70px, 15vw, 117px);
	border-radius: 50%;
	overflow: hidden;
	grid-column: 1/2;
	grid-row: 1/4;
}

.name {
	font-size: var(--fs-800);
	color: hsl(var(--text-primary));
	grid-column: 2/4;
	grid-row: 1/2;
}

.github-address {
	font-size: var(--fs-500);
	color: hsl(var(--blue));
	grid-column: 2/4;
	grid-row: 2/3;
}

.join-date {
	font-size: var(--fs-500);
	color: hsl(var(--text-secondary));
	grid-column: 2/4;
	grid-row: 3/4;
}

.bio {
	grid-column: 1/4;
	grid-row: 4/5;
	padding-top: 24px;
	font-size: var(--fs-500);
	color: hsl(var(--text-secondary));
}

@media (min-width: 900px) {
	.card {
		position: relative;
	}

	.card > * {
		max-width: clamp(460px, 40vw, 480px);
		margin-left: auto;
	}
	.name {
		grid-column: 1/3;
	}
	.join-date {
		align-self: center;
		grid-column: 3/4;
		grid-row: 1/2;
	}
	.github-address {
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.avatar {
		position: absolute;
		left: 48px;
	}
}

.card__body {
	background-color: hsl(var(--bg-primary));
	padding-inline: 32px;
	padding-block: 18px;
	border-radius: 10px;
	margin-bottom: clamp(24px, 4vw, 54px);
	/* max-width: 480px; */
}

.stats {
	display: flex;
	text-align: center;
	gap: clamp(16px, calc(25vw - 90px), 99px);
}

.stats h3 {
	font-size: var(--fs-400);
	font-weight: var(--fw-400);
	margin-bottom: 8px;
	color: hsl(var(--text-secondary));
}

.stats p {
	font-size: var(--fs-700);
	font-weight: var(--fw-700);
	color: hsl(var(--text-primary));
}

.card__footer {
	color: hsl(var(--text-primary));
	display: flex;
	flex-direction: column;
	column-gap: 16px;
	align-self: flex-start;
}

@media (min-width: 600px) {
	.card__footer {
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		column-gap: max(8.4vw, 65px);
		row-gap: 16px;
	}
}
.card__footer a {
	color: hsl(var(--text-primary));
	font-size: var(--fs-500);
}

/* _________________________ */
/* Page specific             */
/* _________________________ */ ;
